---
import Layout from '../layouts/Layout.astro';
import AdminInventario from '../components/admin/AdminInventario';
---

<Layout title="BLACK GYM - Gestión de Inventario">
  <main>
    <AdminInventario client:load />
  </main>
</Layout>
